{% extends 'base.html.twig' %}

{% block title %}Bienvenues au paradis des jouets{% endblock %}

{% block body %}
    {% if app.user is empty %}
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <p class="title">Vous devez être connecté pour accéder à notre espace</p>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 mt-4 text-right">
                        <a href="{{ path('app_login') }}" class="btn btn-primary">Cliquez ici</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% if is_granted("ROLE_SANTA") %}
            <div class="row m-5">
                <div class="col-md-12 text-center">
                    <h1 class="text-primary h1 font-weight-light font-italic">
                        Bienvenue Père Nöel
                    </h1>
                </div>
            </div>
            <div class="row m-5">
                <div class="col-md-6">
                    <div class="card parentCard">
                        <div class="card-header text-center adminCardHeader">
                            <a href="{{ path("factory_gifts_index") }}" class="text-white">Les usines</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card parentCard">
                        <div class="card-header text-center adminCardHeader">
                            <a href="{{ path("gift_index_by_factory") }}" class="text-white">Le stock</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if is_granted("ROLE_CHIEF") %}
            <div class="row m-5">
                <div class="col-md-12 text-center">
                    <h1 class="text-primary h1 font-weight-light font-italic">
                        Bienvenue Chef
                    </h1>
                </div>
            </div>
            <div class="row m-5">
                <div class="col-md-6">
                    <div class="card parentCard">
                        <div class="card-header text-center adminCardHeader">
                            <a href="{{ path("factory_gifts_elves", {'id': app.user.factoryGifts.id} ) }}" class="text-white">Les LUTINS</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card parentCard">
                        <div class="card-header text-center adminCardHeader">
                            <a href="{{ path("gift_index") }}" class="text-white">Les cadeaux</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if is_granted("ROLE_ELVES") %}
            <div class="row m-5">
                <div class="col-md-12 text-center">
                    <h1 class="text-primary h1 font-weight-light font-italic">
                        Bienvenue Luttin
                    </h1>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card parentCard">
                    <div class="card-header text-center adminCardHeader">
                        <a href="{{ path("gift_index") }}" class="text-white">Les cadeaux</a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if is_granted("ROLE_RECEIVER") %}
            <div class="row m-5">
                <div class="col-md-12 text-center">
                    <h1 class="text-primary h1 font-weight-light font-italic">
                        Bienvenue chèr client
                    </h1>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card parentCard">
                    <div class="card-header text-center adminCardHeader">
                        <a href="#" class="text-white">Mes cadeaux</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}