{% extends 'base.html.twig' %}

{% block title %}Factory index{% endblock %}

{% block body %}
    <h1>Factory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>CountryCode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for factory in factories %}
            <tr>
                <td>{{ factory.id }}</td>
                <td>{{ factory.name }}</td>
                <td>{{ factory.address }}</td>
                <td>{{ factory.phone }}</td>
                <td>{{ factory.createdAt ? factory.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ factory.updatedAt ? factory.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ factory.countryCode }}</td>
                <td>
                    <a href="{{ path('factory_show', {'id': factory.id}) }}">show</a>
                    <a href="{{ path('factory_edit', {'id': factory.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('factory_new') }}">Create new</a>
{% endblock %}
