{% extends 'base.html.twig' %}

{% block title %}Factory{% endblock %}

{% block body %}
    <h1>Factory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ factory.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ factory.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ factory.address }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ factory.phone }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ factory.createdAt ? factory.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ factory.updatedAt ? factory.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CountryCode</th>
                <td>{{ factory.countryCode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('factory_index') }}">back to list</a>

    <a href="{{ path('factory_edit', {'id': factory.id}) }}">edit</a>

    {{ include('factory/_delete_form.html.twig') }}
{% endblock %}
